.burger{
    display: none;
}

.line{
    transition: all 0.8s ease;
    &__active{
        &:nth-child(1){
            display: none;
        }
        &:nth-child(2){
            transform: rotate(40deg);
            transition: all 0.8s ease;
        }
        &:nth-child(3){
            transform: rotate(320deg);
            // top: 1px;
            transition: all 0.8s ease;
        }
    }
}